* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url(../img/bg3.png);
    background-repeat: repeat;
    width: 100%;
    height: 875px;
}

.left-img {
    float: left;
}

.right-text {
    float: right;
    width: 327px;
    height: 146px;
}

.num {
    color: yellow;
    float: left;
    font-size: 52px;
    margin-right: 17px;
}

.tit {
    font-size: 20px;
    margin-bottom: 4px;
    margin-left: 34px;
    margin-top: 9px;
}